* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

main {
  width: 90vw;
  height: 100vh;
}

fieldset {
  width: 90vw;
  display: flex;
  justify-content: space-around;
}

.bebidas {
  width: 50%;
  height: 100vh;
  color: white;
  background-color: grey;
  border: 1px solid red;
}

.atual {
  width: 50%;
  height: 100vh;
  color: black;
  background-color: rgba(128, 128, 128, 0.336);
}